{% extends 'office/base.html' %}
{% block title %}
Best Intersection Between Company and Worker's
{% endblock %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Kanit:400,500i,600,600i,700,700i,800,800i,900,900i|Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'office/main.css'%}">
    <div class="container home text-center">
        <h1 class="header">Welcome to Mpercept</h1>
        <p class="sub-header">Best Intersection Between Company and Worker's</p>
        {% if is_authenticated %}
        <p>You are not logged in: <a href="{% url 'login' %}">Login Here</a></p>
        {% else %}
        <a href="{% url 'addrequest' %}" class="btn btn-primary">Operations</a>
        <a href="{% url 'leaverequest' %}" class="btn btn-secondary">Leave Request</a>
        <a href="{% url 'booking' %}" class="btn btn-success">Booking</a>
        <a href="{% url 'snacks' %}" class="btn btn-dark">Snacks</a>
        {% endif %}
    </div>
{% endblock %}